// COLORS
main = #343a40;
mainHover = #a4d784;
hover = darken(main, 50%)
mainLight = #19a44b
sec  = #fff
lightGray = #fff
texts = #fff
colorcode = #AB67AB
blackBase =  #2f2f33
neotree = #2f2f33
// Resolution
cut = 37.5rem